@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* 
--font-body-en: 'VT323', monospace, sans-serif;
--font-heading-en: 'VT323', monospace, sans-serif;
*/

:root {
  --font-body-en: 'Lora', sans-serif;
  --font-heading-en: 'Lora', sans-serif;
  --font-body-jp: 'New Tegomin', sans-serif;
  --font-heading-jp: 'New Tegomin', sans-serif;

  --font-body: var(--font-body-en);
  --font-heading: var(--font-heading-en);
}
